DEFAULT lrescue
LABEL lrescue
    KERNEL /boot/vmlinuz-linux
    APPEND initrd=/boot/initramfs-linux.img lrescue=LABEL=LRESCUEISO lrescue_img=/rootfs.squashfs rootfstype=squashfs rd.systemd.show_status=1 systemd.log_level=debug rw
